@page
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div >
        <img class="homeBg" src="~/images/backgrounds/bg_home.png" alt="Background-Welcome" />
        <div>
            <h1 class="display-4">Welcome</h1>
        </div>
    </div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<script src="~/js/site.js"></script>
<link href="~/css/site.css" rel="stylesheet" />
