html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    transition: background-color 0.3s ease;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/*============== css dark light mode ==============*/

:root {

    --primary-color: black;
    --secondary-color: white;
}

.dark-theme {
    --primary-color: white;
    --secondary-color: black;
}

#iconDL {
    width: 60px;
    margin-right: 10px;
    cursor: pointer; /*tinh la con trỏ*/
}
/*============== css search ==============*/
.searchCss{
    border: 3px solid #152c7b;
    border-radius:25px;
}
/*============== css input flowing ==============*/
.inputOver {
}
/*============== css over flowing ==============*/
/*overflow*/
.listOver{
    height:300px;
    width:400px;
    background-color:#ffffff;
    overflow:auto;
}

/*============= css list ===============*/
/*search*/
#searchInput {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}

#friendSearchInput {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}
/*type show list*/
#messagesList {
    list-style: none;
    padding: 0;
}
#accountList {
    list-style: none;
    padding: 0;
}

#friendList {
    list-style: none;
    padding: 0;
}

#userList {
    list-style: none;
    padding: 0;
}
/*type border list*/
.user {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

.friend li {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

.message li {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-x: auto;
    color: black;
}
/*type button list*/
.friend button {
    background-color: #ffd800;
    border: 2px solid #182552;
    border-radius: 8px;
    box-shadow: 5px 5px #182552;
    margin: 5px;
}
    .friend button:hover {
        background-color: #a38b06;
        color:white;
    }
/*============== css background home ==============*/
.homeBg {
    width: 100%;
    height: 60vh;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    border: 5px solid var(--primary-color);
}